modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
ADMIN_PASSWORD = "bg262"
ADMIN_SECRET_PATH = "xk9admin2024"
VITE_PAYSTACK_PUBLIC_KEY = "pk_live_4d9588dc807864a6ae12755315140c92197c94d0"
ADMIN_EMAIL = "simeonadjei12015@gmail.com"
GMAIL_USER = "simeonadjei12015@gmail.com"

[nix]
channel = "stable-25_05"
